:root {
    --text1: #294b66;
    --text2: #106497;
    --text3: #106497;
    --accent1: #FFB703;
    --accent2: #00B4D8;
}
body {
    background: #CCEAF6;
    color: var(--text1);
    font-family: "Noto Sans", sans-serif;
}
h1 {
    font-weight: 800;
    font-size: 38px;
}
h2 {
    color: var(--text2);
    font-weight: 600;
}
h3 {
    color: var(--text3);
    font-weight: 800;
    font-size: 21px;
    text-decoration: underline wavy;
    text-decoration-color: #73BFDC;
    text-underline-offset: 5px;
}
hr {
    border-color: var(--accent1);
    border-width: 6px;
    opacity: 100;
}
.button {
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--accent2);
    color: #fff;
    font-size: 16px;
}
.hex1 { background-color: #219EBC }
.hex2 { background-color: #126782 }
.hex3 { background-color: #023047 }
.icon {
    margin-right: 0.5rem;
}
.headshot {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: solid 10px var(--accent1);
}
.code {
    color: var(--accent2);
}
.typewriter {
    color: var(--text1);
    font-family: 'Noto Sans';
    font-weight: 600;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--accent1); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em; /* Adjust as needed */
    animation:
            typing 2.5s steps(30, end),
            blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--accent1) }
}