* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #c1c1c1;
    display: flex;
    justify-content: center;
    margin: 0;
}
.title {
    margin: auto;
    font-family: "Montserrat";
    font-size: 32px;
    padding: 0.2em 0;
}
ul {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    list-style: none;
}
li {
    padding: 0.5em;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
a {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
a:hover {
    color: blue;
}
.right {
    padding-left: 5em;
    padding-right: 0.5em;
}
.left {
    padding-left: 0.25em;
}