html { font-family: 'Cera Pro', sans-serif; font-weight: 700; }
h1 {
    text-align: center;
}
#map {
    position: absolute;
    right: 0;
    width: 100%;
    height: calc(100% - 95px);
    z-index: -1;
}
nav {
    position: fixed;
    z-index: 2;
}
/* Weekly Forecast */
#weekly-forecast {
    width: 100%;
    position: fixed;
    bottom: 0;
}
button {
    position: fixed;
}
.card-img-top {
    justify-self: center;
    align-self: center;
    width: 100px;
    margin: 10px 0 0 0;
}
.card-title {
    font-size: 20px;
    font-weight: 700;
}
.card-title>.col {
    padding-right: 10px;
    padding-left: 10px;
}
.card-text {
    margin: 0;
    padding: 0.25em;
}
.weekday {
    text-align: center;
    padding: 0 5px;
}
.low { color: #228ce4; padding: 0; text-align: center; }
.high { color: #dc2c00; padding: 0; text-align: center; }
.offcanvas-body {
    padding: 0;
}
.offcanvas-bottom {
    align-items: baseline;
    margin-bottom: 20px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(0, 0, 0, 0.3);
}