html { font-family: 'Cera Pro', sans-serif; font-weight: 700; }
.card-text {
    margin: 0;
    padding: 0.25em;
}
.card-img-top {
    justify-self: center;
    align-self: center;
    width: 100px;
    margin: 10px;
}